.App {
  text-align: center;
  background-color: #c40808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Page-title {
  text-align: center;
  background-color: #c40808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.White-paper {
  background-color: white;
  color: black;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #c40808;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
